version: 1.0.{build}
image: Visual Studio 2017

before_build:
# - dotnet restore

branches:
  only:
    - never-build-branch-automatically-dont-use-this-name
    
build_script:
- ps: |
    Write-Output "Branch: $env:APPVEYOR_REPO_BRANCH"
    Write-Output $env:SIGNING_REQUEST_ID

